.averageValue{
    font-family: Inter;
    font-weight: 400;
    letter-spacing: 0em; 
    text-align: center;
    color: #667985;
}

.averageValue>.labelAverage{
    position: absolute;
    width: 156px;
    height: 27px;
    top: 143px;
    left: 1015px;
    font-size: 16px;
    line-height: 24px;
}

.averageValue>.value{
    position: absolute;
    width: 129px;
    height: 53px;
    top: 190px;
    left: 1033px;
    font-size: 20px;
    line-height: 30px;

}

.averageValue>.value span {
    color: #F38B00;
    font-size: 48px;
    line-height: 72px;
}